{% extends "base.html" %}
{% block content %}
{% block content_title %}

{% endblock %}


   <div class="row">


        <div class="eleven columns">
                 <ol id="post-list">
                {% for article in articles_page.object_list %}
                        <li><article class="hentry">
                                <header> <h2 class="index-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                                <footer class="post-info">
                                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                                    {% if article.authors %}
                                    <address class="vcard author">Par
                                    {% for author in article.authors|sort %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                                    {% endfor %}
                                    </address>
                                    {% endif %}
                                </footer><!-- /.post-info -->
                                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->

                                <div class="medium primary btn"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Lire la suite <i class="icon-arrow-right"></i></a></div>
                                <div class="row tag-row">
                                    {% if article.tags %}
                                        {% for tag in article.tags %}
                                            <a class="info label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </article></li>
                {% endfor %}
                </ol><!-- /#posts-list -->

        </div><!-- /.eleven.columns -->

     {% include 'sidebar.html' %}
 </div><!-- /.row -->

{% include 'pagination.html' %}
{% endblock content %}
