{% extends "base.html" %}
{% block content %}
<ul>
<li class="nav-header"><h4><i class="icon-tags icon-large"></i>Tags</h4></li>
{% for (tag, articles) in tags %}
<li class="tag-{{ articles|length }}">
	<a href="{{ SITEURL }}/{{ tag.url }}">
		<i class="icon-tag icon-large"></i>{{ tag|e }}
	</a>
</li>
{% endfor %}
</ul>
{% endblock %}
